# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# data folders
cleaned-data/
raw-data/

# keys
PlacesAPI-key.txt
nycopendata-API-key.txt
nycopendata-app-token.txt

# html maps
app/maps/